{% layout "layout.liquid" %}
{% block content %}

  <div class="container-fluid mtg-std-container mtg-display-width">
    <h2 class="mtg-page-title">Welcome to</h2>
    <h1 class="mtg-brand-landing">MtG Deckbuilder</h1>
    <div class="mtg-text-width mtg-text-block">
      <p>This app allows a user to create their own MtG decks ("theorycraft") based on cards from their chosen colletion of cards. Currently one core set may be chosen to populate a collection.</p>
      <br>
      <p>Any visitor may view all of the decks created with the app. Any registered user may add a collection, view all decks, comment on any deck, and create/edit/delete their own decks.</p>
      <br>
      <p>This app draws all card information from the
        <a
          href="https://docs.magicthegathering.io/"
          rel="noopener noreferer"
          class="mtg-main-anchor">Magic: The Gathering API</a>.</p>
    </div>
    <div class="btn-container-block">
      <a class="mtg-btn-p btn-font" href="/decks/">View All Decks</a>
      <a class="mtg-btn-t btn-font" href="/auth/signup">Create an Account or Log In</a>
    </div>
  </div>
{% endblock %}