{% layout "layout.liquid" %}
{% block content %}

  <div class="container-fluid mtg-std-container mtg-text-width">
    <h2>Welcome to</h2>
    <h1 class="mtg-brand-landing">MtG Deckbuilder</h1>
    <div class="mtg-text-block">
        <p>This app allows a user to create their own MtG decks based on cards from 'allowed' base sets and expansions specified by the admin.
        <p>Any visitor may view all of the decks created with the app.  Any registered user may view all decks; comment on all decks; and create, edit, and delete their own decks.</p>
        <p>As a default, we are creating these decks based on a series of cards we call '1997 - Old as Ice', using cards from the 4th Edition release as well as the Ice Age expansion.
        </p>
        <p>This app draws all card information from the <a href="https://docs.magicthegathering.io/" rel="noopener noreferer" class="mtg-main-anchor">Magic: The Gathering API</a>.</p>
  </div>
  <div class="btn-container-block">
    <a class="mtg-btn-p" href="/decks/">View All Decks</a>
    <a class="mtg-btn-t" href="/auth/signup">Create an Account or Log In</a>
  </div>
</div>

{% endblock %}