{% layout 'layout.liquid' %}
{% block content %}
  {% # need two elements: the FORM(left) and the CARDS(right) %}
  <div class="mtg-inflx-container mtg-display-width">
    <div class="mtg-form">
      <form action="/collections/{{collection.id}}?_method=PUT" method="POST">
        <fieldset>
          <legend>
            <h2>Edit Collection Info</h2>
          </legend>
          <div class="mtg-elem">
            <label class="form-label">Collection Name:
            </label>
            <input
              type="text"
              name="name"
              placeholder="Reign of Death"
              class="form-control">
          </div>
          <div class="mtg-elem">
            <label class="form-label">Description:</label>
            <textarea
              class="form-control"
              name="description"
              rows="12"
              cols="33"
              maxlength="100"></textarea>
          </div>
        </fieldset>
        <div class="btn-container-block">
          <button
            type="submit"
            class="mtg-btn-p"
            name="returnPath"
            value="allCollections">
            Submit and Return to Collection Dashboard</button>
          <button
            type="submit"
            class="mtg-btn-p"
            name="returnPath"
            value="addCards">
            Submit and Go To Card Picker</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}