@import url('https://fonts.googleapis.com/css2?family=Puritan:ital,wght@0,400;0,700;1,400;1,700&family=Special+Elite&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(245, 77%, 36%);
    --primary-lt: hsl(245, 68%, 57%);
    --primary-dk: hsl(245, 98%, 18%);
    --secondary: hsl(335, 77%, 36%);
    --secondary-lt: hsl(335, 68%, 45%);
    --secondary-dk: hsl(335, 98%, 18%);
    --tertiary: hsl(55, 60%, 36%);
    --tertiary-lt: hsl(55, 42%, 45%);
    --tertiary-dk: hsl(55, 70%, 29%);
    --gray-100: hsl(0 0% 100%);
    --gray-90: hsl(0 0% 90%);
    --gray-80: hsl(0 0% 80%);
    --gray-70: hsl(0 0% 70%);
    --gray-60: hsl(0 0% 60%);
    --gray-50: hsl(0 0% 50%);
    --gray-40: hsl(0 0% 40%);
    --gray-30: hsl(0 0% 30%);
    --gray-20: hsl(0 0% 20%);
    --gray-10: hsl(0 0% 10%);
    --gray-0: hsl(0 0% 0%);
    --shadow: hsl(0 0% 0% / 0.7);
    --shadow-lt: hsl(0 0% 0% / 0.35);
    --font-display: 'Special Elite', cursive;
    --font-sans: 'Puritan', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Garamond', serif;
    font-size: 16px;
    color: var(--gray-20);
    background-color: var(--gray-80);
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    font-family: var(--font-sans);
    text-align: center;
    padding-block: 5rem;
    margin: 0;
    color: var(--gray-10);
    background-color: var(--gray-70);
    bottom: 0;
    left: 0;
    right: 0;
}

fieldset {
    width: 100%;
}

legend {
    font-family: var(--font-display);
}

/* HEADER styles */

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 0.5rem;
    color: var(--gray-10);
    background-color: var(--gray-70);
}

.mtg-nav-toggle {
    display: none;
}

.mtg-nav {
    font-family: 'Puritan', sans-serif;
    display: flex;
    align-items: center;
    gap: var(--gap, 1rem);
    padding-inline: 1rem;
    list-style: none;
    margin: 0;
}

.mtg-nav a {
    text-decoration: none;
}

.mtg-brand {
    font-family: var(--font-display);
    font-size: clamp(1.5rem, calc(1rem + 2vw), 3rem);
    margin: 1rem;
    padding: 1rem 1rem 0.5rem;
    background-image: linear-gradient(
        90deg,
        var(--primary),
        var(--tertiary),
        var(--secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 0.25rem;
    box-shadow: 3px 3px var(--primary), 6px 6px var(--tertiary),
        9px 9px var(--secondary), 9px 9px 15px 3px var(--shadow);
    transition: box-shadow 330ms ease;
}

.mtg-brand:hover {
    box-shadow: 3px 3px var(--primary-dk), 6px 6px var(--tertiary),
        9px 9px var(--secondary-dk), 12px 12px 21px 11px var(--shadow);
}

.nav-btn {
    position: relative;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    background-color: transparent;
    transition: background-color 200ms ease;
}

.nav-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: 0;
    background-color: var(--primary-dk);
    transition: width 110ms ease;
}

.nav-btn:hover::after {
    width: 100%;
    transition: width 110ms ease;
    /* background-color: var(--primary-dk); */
}

@media (max-width: 960px) {
    .mtg-brand {
        margin: 0.5rem 0 1rem 0;
        padding: 0.5rem 0.5rem 0rem;
    }

    .mtg-nav {
        --gap: 2rem;
        position: fixed;
        inset: 0 0 0 50%;
        z-index: 1000;
        padding: min(20vh, 8.5rem) 1rem;
        flex-direction: column;
        color: var(--gray-90);
        background-color: var(--shadow);
        backdrop-filter: blur(0.25rem);
        transform: translateX(100%);
        transition: transform 110ms ease-in-out;
    }

    .mtg-nav[data-visible='true'] {
        transform: translateX(0%);
        transition: transform 110ms ease-in-out;
    }

    .mtg-nav-toggle {
        display: block;
        position: absolute;
        top: 0.875rem;
        right: 2rem;
        z-index: 9999;
    }
}

/* MAIN styles */

.mtg-page-title {
    font-family: var(--font-display);
    font-size: clamp(1.5rem, calc(1.5rem + 2vw), 2.5rem);
    margin-block-end: 2rem;
}

.mtg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    width: min(640px, 100%);
}

.mtg-elem {
    padding-block: 1rem;
}

.mtg-std-container {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mtg-text-width {
    width: min(65ch, 97%);
}

.mtg-mt-2 {
    margin-top: 2rem;
}

.mtg-text-center {
    text-align: center;
}

.mtg-display-width {
    width: min(1920px, 97%);
}

.mtg-sans {
    font-family: var(--font-sans);
}
.mtg-brand-landing {
    font-family: var(--font-display);
    font-size: clamp(1.75rem, calc(1.75rem + 2vw), 4rem);
    margin-block-end: 2rem;
    padding: 1rem 1rem 0;
    background-image: linear-gradient(
        90deg,
        var(--primary),
        var(--tertiary),
        var(--secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 0.25rem;
    box-shadow: 5px 5px var(--primary), 10px 10px var(--tertiary),
        15px 15px var(--secondary), 15px 15px 27px 5px var(--shadow);
}

.mtg-text-block {
    padding-block: 2.5rem;
    margin-inline: 0.5rem;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.375rem);
    line-height: 1.3;
}

.mtg-main-anchor {
    font-weight: 500;
    color: var(--tertiary);
}

/* BUTTONS */

.btn-font {
    font-family: var(--font-sans);
}

.btn-container-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.btn-container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.mtg-btn-p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--gray-90);
    background-color: var(--primary-dk);
    cursor: pointer;
    transition: background-color 200ms ease;
}

.mtg-btn-sm-p {
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.25rem 1rem;
    color: var(--gray-90);
    background-color: var(--primary-dk);
    cursor: pointer;
    transition: background-color 200ms ease;
}

.mtg-btn-s {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--gray-90);
    background-color: var(--secondary-dk);
    cursor: pointer;
    transition: background-color 200ms ease;
}

.mtg-btn-t {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--gray-90);
    background-color: var(--tertiary-dk);
    cursor: pointer;
    transition: background-color 200ms ease;
}

.mtg-btn-tp {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.mtg-btn-p:hover {
    background-color: var(--primary);
}

.mtg-btn-sm-p:hover {
    background-color: var(--primary);
}

.mtg-btn-s:hover {
    background-color: var(--secondary);
}

.mtg-btn-t:hover {
    background-color: var(--tertiary);
}

/* Icons */
.mtg-icon-container-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    gap: 1rem;
}

/* DECK create, view, edit pages */

.mtg-inflx-container {
    margin: 3rem auto;
    display: flex;
    align-items: start;
    justify-content: start;
}

.mtg-cards-grid {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.mtg-display-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 1rem;
}

.mtg-display-right {
    width: 100%;
    padding-inline: 1rem;
    border-left: 3px solid var(--gray-50);
}

.mtg-dashboard-grid-container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
}

.mtg-dashboard-grid {
    margin-block: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-auto-rows: 250px;
    gap: 1rem;
}

.mtg-dashboard-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    color: var(--gray-20);
    background-color: var(--gray-100);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px var(--shadow-lt);
    transition: box-shadow 110ms ease;
}

.mtg-dashboard-card:hover {
    box-shadow: 3px 3px 11px 3px var(--shadow);
}

.mtg-dashboard-card__title {
    width: fit-content;
    font-family: var(--font-display);
    font-size: clamp(1.25rem, calc(1.25rem + 2vw), 2rem);
    font-weight: 600;
    color: var(--primary-dk);
}

.mtg-dashboard-card__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
}

.mtg-dashboard-card__main h5 {
    font-weight: 600;
}
.mtg-dashboard-card__counts {
    display: flex;
    justify-content: space-between;
}
.mtg-dashboard-card__main h6 {
    font-family: var(--font-sans);
    font-weight: 600;
}

.mtg-dashboard-card__main p {
    font-style: italic;
}

.mtg-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: var(--gray-100);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px var(--shadow-lt);
    transition: box-shadow 110ms ease;
}

.mtg-comment-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--gray-100);
    border-radius: 0.5rem;
    box-shadow: 3px 3px 7px var(--shadow-lt);
    transition: box-shadow 110ms ease;
}

.mtg-comment-hdr {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.25rem 0.5rem;
    font-size: 0.75rem;
}

.mtg-comm-form-inputs {
    width: 100%;
}

.mtg-card-container img {
    opacity: 0.85;
    margin: 0.5rem;
    transition: opacity 110ms ease;
}

.mtg-card-container:hover {
    box-shadow: 3px 3px 11px 3px var(--shadow);
}

.mtg-card-container:hover img {
    opacity: 1;
}

.mtg-cards-list {
    padding-top: 1rem;
    border-top: 3px solid var(--gray-50);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

.mtg-cards-list__card {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 0.25rem 0.5rem;
    background-color: var(--gray-70);
    border-radius: 0.25rem;
}

.mtg-cards-list__card__box {
    font-weight: 600;
    display: flex;
    align-items: baseline;
    gap: 0.75rem;
}
