/* @import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,600;1,600&display=swap"); */
/* Righteous display & Inter sans */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap"); */
/* Fredericka the Great display & Inter sans */
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(201, 98%, 36%);
    --primary-lt: hsl(201, 68%, 53%);
    --primary-dk: hsl(201, 98%, 18%);
    --secondary-lt: hsl(154, 63%, 58%);
    --secondary: hsl(154, 74%, 35%);
    --secondary-dk: hsl(154, 58%, 25%);
    --tertiary: hsl(55, 60%, 40%);
    --tertiary-dk: hsl(55, 70%, 29%);
    --gray-90: hsl(0 0% 90%);
    --gray-80: hsl(0 0% 80%);
    --gray-70: hsl(0 0% 70%);
    --gray-60: hsl(0 0% 60%);
    --gray-50: hsl(0 0% 50%);
    --gray-40: hsl(0 0% 40%);
    --gray-30: hsl(0 0% 30%);
    --gray-20: hsl(0 0% 20%);
    --gray-10: hsl(0 0% 10%);
    --gray-0: hsl(0 0% 0%);
    --shadow: hsl(0 0% 0% / 0.7);
}

html {
    height: min(100vh);
    position: relative;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: var(--gray-90);
    background-color: var(--gray-10);
}

nav {
    margin: 0;
    color: var(--gray-10);
    background-color: var(--gray-80);
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    padding-block: 5rem;
    margin: 0;
    color: var(--gray-10);
    background-color: var(--gray-80);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

fieldset {
    width: 100%;
}

.mtg-nav-container {
    width: 100%;
    padding: 1.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mtg-brand {
    font-family: "Fredericka the Great", cursive;
    font-size: clamp(1.5rem, calc(1rem + 2vw), 3rem);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(
        90deg,
        var(--primary-dk),
        var(--secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 0.25rem;
    box-shadow: 3px 3px var(--primary-dk), 6px 6px var(--secondary-dk),
        9px 9px var(--tertiary), 12px 12px 18px 7px var(--shadow);
    transition: box-shadow 330ms ease;
}

.mtg-brand:hover {
    box-shadow: 3px 3px var(--primary-dk), 6px 6px var(--secondary-dk),
        9px 9px var(--tertiary), 12px 12px 21px 11px var(--shadow);
}

.btn-container-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.btn-container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.nav-btn {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: background-color 200ms ease;
}

.nav-btn:hover {
    background-color: var(--tertiary);
}

.mtg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    width: min(640px, 100%);
}

.mtg-elem {
    padding-block: 1rem;
}

.mtg-landing-container {
    width: min(65ch, 99%);
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mtg-brand-landing {
    font-family: "Fredericka the Great", cursive;
    font-size: clamp(1.75rem, calc(1.75rem + 2vw), 4rem);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(
        90deg,
        var(--primary),
        var(--secondary-lt)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 0.25rem;
    box-shadow: 3px 3px var(--primary), 6px 6px var(--secondary-lt),
        9px 9px var(--tertiary), 12px 12px 18px 7px var(--shadow);
}

.mtg-text-block {
    padding-block: 1rem;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.375rem);
}

.mtg-main-anchor {
    font-weight: 500;
    color: var(--tertiary);
}

.main-btn {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: var(--primary);
    transition: background-color 200ms ease;
}

.main-btn:hover {
    background-color: var(--primary-dk);
}
