/* @import url("https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,600;1,600&display=swap"); */
/* Righteous display & Inter sans */
/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap"); */
/* Fredericka the Great display & Inter sans */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(201, 98%, 36%);
    --primary-lt: hsl(201, 68%, 53%);
    --primary-dk: hsl(201, 98%, 18%);
    --secondary: hsl(335, 98%, 36%);
    --secondary-lt: hsl(335, 68%, 53%);
    --secondary-dk: hsl(335, 98%, 18%);
    /* --secondary-lt: hsl(154, 63%, 58%);
    --secondary: hsl(154, 74%, 35%);
    --secondary-dk: hsl(154, 58%, 25%); */
    --tertiary: hsl(55, 60%, 40%);
    --tertiary-dk: hsl(55, 70%, 29%);
    --gray-90: hsl(0 0% 90%);
    --gray-80: hsl(0 0% 80%);
    --gray-70: hsl(0 0% 70%);
    --gray-60: hsl(0 0% 60%);
    --gray-50: hsl(0 0% 50%);
    --gray-40: hsl(0 0% 40%);
    --gray-30: hsl(0 0% 30%);
    --gray-20: hsl(0 0% 20%);
    --gray-10: hsl(0 0% 10%);
    --gray-0: hsl(0 0% 0%);
    --shadow: hsl(0 0% 0% / 0.7);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--gray-90);
    background-color: var(--gray-10);
}

nav {
    margin: 0;
    color: var(--gray-10);
    background-color: var(--gray-80);
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    text-align: center;
    padding-block: 5rem;
    margin: 0;
    color: var(--gray-10);
    background-color: var(--gray-80);
    bottom: 0;
    left: 0;
    right: 0;
}

fieldset {
    width: 100%;
}

.mtg-nav-container {
    width: 100%;
    padding: 1.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mtg-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: clamp(1.5rem, calc(1rem + 2vw), 3rem);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(
        90deg,
        var(--primary-dk),
        var(--tertiary-dk),
        var(--secondary-dk)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 0.25rem;
    box-shadow: 3px 3px var(--primary-dk), 6px 6px var(--tertiary),
        9px 9px var(--secondary-dk), 12px 12px 18px 7px var(--shadow);
    transition: box-shadow 330ms ease;
}

.mtg-brand:hover {
    box-shadow: 3px 3px var(--primary-dk), 6px 6px var(--tertiary),
        9px 9px var(--secondary-dk), 12px 12px 21px 11px var(--shadow);
}

.btn-container-inline {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 0.5rem;
}

.btn-container-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.nav-btn {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    background-color: transparent;
    transition: background-color 200ms ease;
}

.nav-btn:hover {
    background-color: var(--tertiary);
}

.mtg-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem auto;
    width: min(640px, 100%);
}

.mtg-elem {
    padding-block: 1rem;
}

.mtg-std-container {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.mtg-text-width {
    width: min(65ch, 99%);
}

.mtg-display-width {
    width: min(1920px, 99%);
}

.mtg-brand-landing {
    font-family: 'Fredericka the Great', cursive;
    font-size: clamp(1.75rem, calc(1.75rem + 2vw), 4rem);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(
        90deg,
        var(--primary),
        var(--tertiary),
        var(--secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 0.25rem;
    box-shadow: 5px 5px var(--primary), 10px 10px var(--tertiary),
        15px 15px var(--secondary), 20px 20px 27px 5px var(--shadow);
}

.mtg-text-block {
    padding-block: 2.5rem;
    font-size: clamp(1rem, calc(1rem + 1vw), 1.375rem);
}

.mtg-main-anchor {
    font-weight: 500;
    color: var(--tertiary);
}

/* BUTTONS */

.mtg-btn-p {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--gray-90);
    background-color: var(--primary);
    transition: background-color 200ms ease;
}

.mtg-btn-sm-p {
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.25rem 1rem;
    color: var(--gray-90);
    background-color: var(--primary);
    transition: background-color 200ms ease;
}

.mtg-btn-s {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--gray-90);
    background-color: var(--secondary);
    transition: background-color 200ms ease;
}

.mtg-btn-t {
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--gray-10);
    background-color: var(--tertiary);
    transition: background-color 200ms ease;
}

.mtg-btn-p:hover {
    background-color: var(--primary-dk);
}

.mtg-btn-sm-p:hover {
    background-color: var(--primary-dk);
}

.mtg-btn-s:hover {
    background-color: var(--secondary-dk);
}

.mtg-btn-t:hover {
    background-color: var(--tertiary-dk);
}

/* DECK create, view, edit pages */

.mtg-inflx-container {
    margin: 3rem auto;
    display: flex;
    align-items: start;
    justify-content: start;
}

.mtg-cards-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
}

.mtg-cards-grid {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 0.5rem;
}

.mtg-display-left {
    width: fit-content;
    padding-inline: 1rem;
}

.mtg-display-right {
    width: 100%;
    padding-inline: 1rem;
    border-left: 3px solid var(--gray-20);
}

.mtg-grid-container {
    width: 100%;
    padding-block: 2rem;
    margin-inline: auto;
}
.mtg-deck-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.mtg-deck-card {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    color: var(--gray-90);
    background-color: var(--gray-20);
    border-radius: 0.25rem;
}

.mtg-card-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid var(--gray-50);
}
