{% layout 'layout.liquid' %}
{% block content %}
  <div class="container-fluid mtg-std-container mtg-display-width">
    <a class="mtg-btn-p" href="/decks/new">Create New Deck</a>
    {% if decks.length > 0 %}
      <div>
        <h2 class="display-6">All Decks</h2>
        <div class="row">
          {% for deck in decks %}
            <div class="card" style="width: 18rem;">
              <h5 class="card-header">{{ deck.name }}</h5>
              <div class="card-body">
                <p class="card-text">
                  Body: {{ deck.description }}
                </p>
                {% # if user != owner display owner name %}
                <a href="/deck/{{ deck.id }}" class="btn btn-info">
                  View {{ deck.name }}
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <div class="container-md">
        <h2>Wouldn't ya know...no decks to show!</h2>
      </div>
    {% endif %}
  </div>
{% endblock %}