{% layout 'layout.liquid' %}
{% block content %}
  {% # need two elements: the FORM(left) and the CARDS(right) %}
  <div class="mtg-inflx-container mtg-display-width">
    <div class="mtg-form">
      <form action="/decks" method="POST">
        <fieldset>
          <legend>
            <h2>Create New Deck</h2>
          </legend>
          <div class="mtg-elem">
            <label class="form-label">Deck Name:
            </label>
            <input
              type="text"
              name="name"
              placeholder="Reign of Death"
              class="form-control">
          </div>
          <div class="mtg-elem">
            <label class="form-label">Description:</label>
            <textarea
              class="form-control"
              name="description"
              rows="12"
              cols="33"
              maxlength="330"></textarea>
          </div>
          <div class="mtg-elem">
            <label class="form-label">Choose a Collection:</label>
            <select
              name="stock"
              class="form-select"
              required>
              {% for collection in collections %}
                <option value="{{ collection.id }}" selected>{{ collection.name }}</option>
              {% endfor %}
            </select>
          </div>
        </fieldset>
        <div class="btn-container-block">
          <button
            type="submit"
            class="mtg-btn-p"
            name="returnPath"
            value="allDecks">
            Create Deck</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}