{% layout 'layout.liquid' %}
{% block content %}
  {% # need two elements: the FORM(left) and the CARDS(right) %}
  <div class="mtg-inflx-container mtg-display-width">
    {% # FORM %}
    {% # 'left' side of screen %}
    {% # DETAILS on top %}
    <div class="mtg-display-left">
      <div class="mtg-form">
        <form action="/decks" method="POST">
          <fieldset>
            <legend>
              <h2>Create New Deck</h2>
            </legend>
            <div class="mtg-elem">
              <label class="form-label">Deck Name:
              </label>
              <input
                type="text"
                name="name"
                placeholder="Reign of Death"
                class="form-control">
            </div>
            <div class="mtg-elem">
              <label class="form-label">Description:</label>
              <textarea class="form-control" name="description" rows="12" cols="22" maxlength="100"></textarea>
            </div>
          </fieldset>
          <div class="btn-container-block">
            <input
              type="submit"
              value="Create"
              class="mtg-btn-p">
          </div>
        </form>
      </div>
      {% # chosen CARDS listed on the bottom %}
      {% # grid with one element (1fr) per row %}
    </div>
    {% # CARDS grid %}
    <div class="mtg-display-right">
      {% # since only 100 cards may be pulled from the api at a time %}
      {% # set up a filter by color %}
      {% # <div class="mtg-form">
        
        #<form action="/decks/new" method="GET">
         # <fieldset>
          #  <legend>
           #   <h2>Filter card by color, land, or artifact</h2>
            
           #</legend>
            #<div class="mtg-elem">
             # <label class="form-label">Options:
              #</label>
             # <select name="cardfilter" class="form-control">
              #  <option value="B" selected>Black Cards</option>
               # <option value="U">Blue Cards</option>
                #<option value="G">Green Cards</option>
                #<option value="R">Red Cards</option>
                #<option value="W">White Cards</option>
                #</select>
            #</div>
          #</fieldset>
          #<div class="btn-container-block">
            #<input
              #type="submit"
              #value="Filter"
              #class="mtg-btn-p">
          #</div>
        #</form>
      #</div> %}
      
      </div>
    </div>
  </div>
{% endblock %}